<!-- Navigation -->
<nav class="nxl-navigation" id="mainNav">
    <div class="navbar-wrapper">
        <div class="m-header">
            <a href="#" class="b-brand">
                <h1 class="h3 mb-0 fw-bold logo-lg">
                    <span style="color: #FF8C00;">{{ request.organization.name }}</span>
                    <span style="color: #004e92;">{{ request.gym.name }}</span>
                </h1>
            </a>
        </div>
        <div class="navbar-content">
            <ul class="nxl-navbar">
                <li class="nxl-item nxl-caption"><label>Navigation</label></li>

                <!-- Tableau de bord -->
                <li class="nxl-item nxl-hasmenu {% if nav_active == 'dashboard' %}active{% endif %}">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><span class="material-icons">dashboard</span></span>
                        <span class="nxl-mtext">Tableau de bord</span>
                        <span class="nxl-arrow"><span class="material-icons">chevron_right</span></span>
                    </a>
                    <ul class="nxl-submenu">
                        <!-- Vérifier si request.gym existe avant d'utiliser son id -->
                        {% if request.gym %}
                        <li class="nxl-item" id="nav-dashboard-global">
                            <a class="nxl-link"
                                href="{% url 'core:gym_dashboard' gym_id=request.gym.id %}?view=dashboard">
                                Vue d'ensemble
                            </a>
                        </li>
                        <li class="nxl-item" id="nav-analytics">
                            <a class="nxl-link"
                                href="{% url 'core:gym_dashboard' gym_id=request.gym.id %}?view=analytics">
                                <span class="nxl-mtext">Vue analytique</span>
                            </a>
                        </li>
                        {% else %}
                        <!-- Si pas de gym (cas de l'Owner sur vue organisation) -->
                        <li class="nxl-item" id="nav-dashboard-global">
                            <a class="nxl-link" href="{% url 'core:switch_gym' org_id=request.organization.id %}">
                                Vue globale
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </li>

                {% if module_members %}
                <!-- Members -->
                <li class="nxl-item nxl-hasmenu {% if nav_active == 'clients' %}active{% endif %}">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><span class="material-icons">group</span></span>
                        <span class="nxl-mtext">Membres</span>
                        <span class="nxl-arrow"><span class="material-icons">chevron_right</span></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item" id="nav-clients-tous">
                            <a class="nxl-link" href="{% url 'members:member_list' %}">
                                Tous les membres
                            </a>
                        </li>

                    </ul>
                </li>
                {% endif %}

                {% if module_subscriptions %}
                <!-- Abonnements -->
                <li class="nxl-item nxl-hasmenu {% if nav_active == 'abonnements' %}active{% endif %}">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><span class="material-icons">event_available</span></span>
                        <span class="nxl-mtext">Abonnements</span>
                        <span class="nxl-arrow"><span class="material-icons">chevron_right</span></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item" id="nav-abonnements-formules"><a class="nxl-link"
                                href="{% url 'subscriptions:subscription_plan_list' %}">Formules</a></li>

                    </ul>
                </li>
                {% endif %}

                {% if module_pos %}
                <!-- Paiements -->
                <li class="nxl-item nxl-hasmenu {% if nav_active == 'paiements' %}active{% endif %}">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><span class="material-icons">payments</span></span>
                        <span class="nxl-mtext">Paiements</span>
                        <span class="nxl-arrow"><span class="material-icons">chevron_right</span></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item" id="nav-paiements-caisse"><a class="nxl-link"
                                href="{% url 'pos:cashier_dashboard' %}">Point de vente</a></li>
                        <li class="nxl-item" id="nav-paiements-journal"><a class="nxl-link"
                                href="{% url 'pos:register_history' %}">Journal des transactions</a></li>

                    </ul>
                </li>
                {% endif %}

                {% if module_access %}
                <!-- Contrôle d'accès -->
                <li class="nxl-item nxl-hasmenu {% if nav_active == 'acces' %}active{% endif %}">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><span class="material-icons">fingerprint</span></span>
                        <span class="nxl-mtext">Contrôle d'accès</span>
                        <span class="nxl-arrow"><span class="material-icons">chevron_right</span></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item">
                            <a class="nxl-link" href="{% url 'access:acces_dashboard' %}?section=scan">
                                Enregistrer les entrées
                            </a>
                        </li>
                    </ul>
                </li>
                {% endif %}

                {% if module_core %}
                <!-- Rapports -->
                <li class="nxl-item nxl-hasmenu {% if nav_active == 'rapports' %}active{% endif %}">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><span class="material-icons">insights</span></span>
                        <span class="nxl-mtext">Rapports</span>
                        <span class="nxl-arrow"><span class="material-icons">chevron_right</span></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item {% if section == 'journalier' %}active{% endif %}">
                            <a class="nxl-link" href="{% url 'core:rapport' %}?section=journalier">
                                Etat de lieu
                            </a>
                        </li>
                    </ul>
                </li>
                {% endif %}

                {% if module_coaching %}
                <!-- Coaching -->
                <li class="nxl-item nxl-hasmenu {% if nav_active == 'coaching' %}active{% endif %}">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><span class="material-icons">person</span></span>
                        <span class="nxl-mtext">Coaching</span>
                        <span class="nxl-arrow"><span class="material-icons">chevron_right</span></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item {% if nav_sub == 'coaches' %}active{% endif %}">
                            <a class="nxl-link" href="{% url 'coaching:list' gym_id=request.gym.id %}">
                                Coaches
                            </a>
                        </li>

                    </ul>
                </li>
                {% endif %}

                {% if module_machines %}
                <!-- Machines -->
                <li class="nxl-item nxl-hasmenu {% if nav_active == 'machines' %}active{% endif %}">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><span class="material-icons">fitness_center</span></span>
                        <span class="nxl-mtext">Machines</span>
                        <span class="nxl-arrow"><span class="material-icons">chevron_right</span></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item {% if nav_sub == 'liste' %}active{% endif %}">
                            <a class="nxl-link" href="{% url 'machines:list' %}">
                                Liste des machines
                            </a>
                        </li>
                        <li class="nxl-item {% if nav_sub == 'maintenance' %}active{% endif %}">
                            <a class="nxl-link" href="{% url 'machines:maintenance_dashboard' request.gym.id %}">
                                Tableau de bord des maintenances
                            </a>
                        </li>
                    </ul>
                </li>
                {% endif %}

                {% if module_rh %}
                <!-- rh -->
                <li class="nxl-item nxl-hasmenu {% if nav_active == 'rh' %}active{% endif %}">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><span class="material-icons">people</span></span>
                        <span class="nxl-mtext">Ressources Humaines</span>
                        <span class="nxl-arrow"><span class="material-icons">chevron_right</span></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item {% if nav_sub == 'employes' %}active{% endif %}">
                            <a class="nxl-link" href="{% url 'rh:list' gym_id=request.gym.id %}">
                                Employés
                            </a>
                        </li>
                        <!-- salaire -->
                        <li class="nxl-item {% if nav_sub == 'presences' %}active{% endif %}">
                            <a class="nxl-link" href="{% url 'rh:attendance_bulk' gym_id=request.gym.id %}">
                                Enregistrer présences
                            </a>
                        </li>
                        <li class="nxl-item {% if nav_sub == 'paie' %}active{% endif %}">
                            <a class="nxl-link" href="{% url 'rh:payroll_dashboard' gym_id=request.gym.id %}">
                                Paie
                            </a>
                        </li>
                    </ul>
                </li>
                {% endif %}

                {% if module_products %}
                <!-- products -->
                <li class="nxl-item nxl-hasmenu {% if nav_active == 'products' %}active{% endif %}">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><span class="material-icons">inventory_2</span></span>
                        <span class="nxl-mtext">Stock & produits</span>
                        <span class="nxl-arrow"><span class="material-icons">chevron_right</span></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item {% if nav_sub == 'product_list' %}active{% endif %}">
                            <a class="nxl-link" href="{% url 'products:list' gym_id=request.gym.id %}">
                                Liste des produits
                            </a>
                        </li>
                        <li class="nxl-item {% if nav_sub == 'stock_dashboard' %}active{% endif %}">
                            <a class="nxl-link" href="{% url 'products:stock_dashboard' gym_id=request.gym.id %}">
                                Tableau de bord du stock
                            </a>
                        </li>
                        <li class="nxl-item {% if nav_sub == 'movement_list' %}active{% endif %}">
                            <a class="nxl-link" href="{% url 'products:movement_list' gym_id=request.gym.id %}">
                                Historique des mouvements
                            </a>
                        </li>
                    </ul>
                </li>
                {% endif %}

                <!-- Paramètres -->
                <li class="nxl-item nxl-hasmenu {% if nav_active == 'parametres' %}active{% endif %}">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><span class="material-icons">settings</span></span>
                        <span class="nxl-mtext">Paramètres</span>
                        <span class="nxl-arrow"><span class="material-icons">chevron_right</span></span>
                    </a>
                    <ul class="nxl-submenu">
                        <!-- Gestion des utilisateurs (visible uniquement pour Owner) -->
                        {% if user_has_owner_role %}
                        <li class="nxl-item {% if nav_sub == 'users' %}active{% endif %}" id="nav-settings-users">
                            <a class="nxl-link" href="{% url 'compte:user_list' %}">
                                <i class="fas fa-users"></i> Utilisateurs & rôles
                            </a>
                        </li>
                        <li class="nxl-item {% if nav_sub == 'create_user' %}active{% endif %}"
                            id="nav-settings-create-user">
                            <a class="nxl-link" href="{% url 'compte:create_user' %}">
                                <i class="fas fa-user-plus"></i> Nouvel utilisateur
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </li>

                <li class="nxl-item nav-logout-link">
                    <a class="nxl-link" href="{% url 'compte:logout' %}">
                        <span class="nxl-micon"><span class="material-icons">logout</span></span>
                        <span class="nxl-mtext">Déconnexion</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>