<h1>Bienvenue {{ user.username }} - Réceptionniste de {{ gym.name }}</h1>

<form method="post" action="{% url 'compte:logout' %}">
        {% csrf_token %}
        <button type="submit"
            class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-xl">
            <i class="fas fa-sign-out-alt mr-2"></i> Logout
        </button>
    </form>


<a href="{% url 'core:create_member' %}"
   class="bg-blue-500 text-white px-4 py-2 rounded-xl mb-4 inline-block">
   Ajouter un membre
</a>

<a href="{% url 'core:member_list' %}"
   class="bg-blue-500 text-white px-4 py-2 rounded-xl mb-4 inline-block">
   Liste des membres
</a>